# Ignore local test directory
/0test/
# Ignore test inputs and outputs
website_manager_config.ini
website_table.txt
show_ips_exampleDomains.txt
show_dns_exampleDomains.txt
*.log
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
